<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <filter>
        <filter-name>SwaggerFilter</filter-name>
        <filter-class>com.my.lab.web.setting.swagger.SwaggerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SwaggerFilter</filter-name>
        <url-pattern>/bookstore/api/*</url-pattern>
    </filter-mapping>
</web-app>
